@model aimtechloansystem.Models.Customer

@{
    ViewData["Title"] = "Edit";
}
<nav class="navbar navbar-expand-md fixed-top" style="background-color:#f2131f">

    <div class="collapse navbar-collapse">
        <ul class="navbar-nav mr-auto">

            <li class="nav-item">
                <a asp-action="CustomerList" asp-controller="Customers">
                    <img src="~/images/aimtechlogo.jpg" sizes="50px" alt="logo" width="50px" height="35px" />
                </a>

            </li>
            <li class="nav-item">
                <a class="nav-link" asp-action="CustomerList" asp-controller="Customers">
                    <h5 style="color:white;">AIM TECH LOAN</h5>
                </a>
            </li>
            <li class="nav-item"><a class="nav-link" asp-controller="Customers" asp-action="Index" style="color:white">CUSTOMERS</a> </li>
            <li class="nav-item"><a class="nav-link" asp-controller="EMI" asp-action="EndOfmonths" style="color:white">REPORTS</a> </li>
            <li class="nav-item"><a class="nav-link" asp-controller="Customers" asp-action="PaidCustomerList" style="color:white">HISTORY</a> </li>

        </ul>
    </div>
    <div class="form-inline">
        @await Html.PartialAsync("_loginPartial")
    </div>
</nav>
<h4>Customer Edit</h4>

<form asp-action="Edit">
    <table class="table table-sm table-striped table-bordered ">

        <tr>
            <td><label asp-for="CustomerName" class="control-label"></label></td>
            <td>
                <input asp-for="CustomerName" class="form-control col-8" />
                <span asp-validation-for="CustomerName" class="text-danger col-8"></span>
            </td>

            <td><label asp-for="Mobile" class="control-label"></label></td>
            <td>
                <input asp-for="Mobile" class="form-control col-8" />
                <span asp-validation-for="Mobile" class="text-danger col-8"></span>
            </td>
        </tr>
        <tr>
            <td><label asp-for="Address" class="control-label"></label></td>
            <td colspan="3">
                <input asp-for="Address" class="form-control" />
                <span asp-validation-for="Address" class="text-danger col-8"></span>
                <input type="hidden" asp-for="Status" class="form-control" />
            </td>



        </tr>
        <tr>
            <td><label asp-for="LoanAmount" class="control-label"></label></td>
            <td>
                <input asp-for="LoanAmount" class="form-control col-8" />
                <span asp-validation-for="LoanAmount" class="text-danger col-8"></span>
            </td>
            <td><label asp-for="LoanBalance" class="control-label"></label></td>
            <td>
                <input asp-for="LoanBalance" id="LastDate" class="form-control col-8" />
                <span asp-validation-for="LoanBalance" class="text-danger col-8"></span>
            </td>

        </tr>
        <tr>
            <td><label asp-for="Date" class="control-label"></label></td>
            <td>
                <input asp-for="Date" id="LoanDate" onchange="CalLastDate()" class="form-control col-8" />
                <span asp-validation-for="Date" class="text-danger col-8"></span>
            </td>

            <td><label asp-for="LastDate" class="control-label"></label></td>
            <td>
                <input asp-for="LastDate" id="LastDate" class="form-control col-8" />
                <span asp-validation-for="LastDate" class="text-danger col-8"></span>
            </td>
        </tr>
        <tr>
            <td><label asp-for="NextPaid" class="control-label"></label></td>
            <td>
                <input asp-for="NextPaid" class="form-control col-8" />
                <span asp-validation-for="NextPaid" class="text-danger col-8"></span>
            </td>
            <td><label asp-for="Fee" class="control-label"></label></td>
            <td>
                <input asp-for="Fee" class="form-control col-8" />
                <span asp-validation-for="Fee" class="text-danger col-8"></span>
            </td>
        </tr>
        <tr>
            <td><label asp-for="Months" class="control-label"></label></td>
            <td>
                <input asp-for="Months" id="Months" class="form-control col-8" />
                <span asp-validation-for="Months" class="text-danger col-8"></span>
            </td>

            <td><label asp-for="Percent" class="control-label"></label></td>
            <td>
                @*<input asp-for="Percent" type="number"  class="form-control col-8" />*@
                <select asp-for="Percent" id="Percent" name="Percent" class="form-control col-8">
                    <option value="">Select Percent</option>
                    <option selected value="1.0">1.0</option>
                    <option value="1.5">1.5</option>
                    <option value="2.0">2.0</option>
                    <option value="2.5">2.5</option>
                    <option value="3.0">3.0</option>
                    <option value="5.0">5.0</option>
                    <option value="10.00">10.00</option>
                </select>
                <span asp-validation-for="Percent" class="text-danger col-8"></span>
            </td>

        </tr>
        <tr>
            <td align="left"><a asp-action="Index">Back to List</a></td>
            <td colspan="3" align="right"><input type="submit" value="Update" class="btn btn-primary" /></td>
        </tr>
    </table>

</form>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
