@{
    ViewData["Title"] = "Contact";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>
<nav class="navbar navbar-expand-md fixed-top navbar-dark bg-danger mb-3">
    <div class="container-fluid">
        <a asp-controller="Customers" asp-action="CustomerList" class="navbar-brand mr-3">AIM TECH LOAN</a>
        <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#navbarCollapse">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarCollapse">
            <div class="navbar-nav">
                <a class="nav-item nav-link active" asp-controller="Customers" asp-action="CustomerList">Home</a>
                <a class="nav-item nav-link" asp-controller="Customers" asp-action="Index">CUSTOMERS</a>
                <a class="nav-item nav-link" asp-controller="EMI" asp-action="EndOfmonths">REPORTS</a>
                <a class="nav-item nav-link" asp-controller="Customers" asp-action="PaidCustomerList">HISTORY</a>
            </div>
            <div class="navbar-nav ml-auto">
                <a class="nav-item nav-link" asp-controller="Account" asp-action="PaidCustomerList">Admin</a>
                <a class="nav-item nav-link" asp-controller="Account" asp-action="Register">Logout</a>
            </div>

        </div>
    </div>
</nav>
<table class="table table-bordered table-striped">
    <tr>
        <td>
            <a class='btn btn-success text-white' style='cursor:pointer; width:70px;'
               onclick="Success()">
                Success
            </a>
        </td>
        <td>
            <a class='btn btn-danger text-white' style='cursor:pointer; width:70px;'
               onclick="Delete('/EMI/Details?id=1')">
                Delete
            </a>
        </td>
    </tr>
</table>
<script>
    function Delete(url) {
        swal({
            title: "Are you sure?",
            text: "Once deleted, you will not be able to recover",
            icon: "warning",
            buttons: true,
            dangerMode: true
        }).then((willDelete) => {
            if (willDelete) {
                $.ajax({
                    type: "DELETE",
                    url: url,
                    success: function (data) {
                        if (data.success) {
                            toastr.success(data.message);
                            dataTable.ajax.reload();
                        }
                        else {
                            toastr.error(data.message);
                        }
                    }
                });
            }
        });
    }
</script>

<script>
    function Success() {
        swal("Good job!", "You clicked the button!", "success")
    }
</script>

